@model Dishes

<h1>Add a Dish Below<h1>
<form asp-action="Home" method="POST">  
    <label asp-for="Name"></label>
    <input asp-for="Name">
    <label asp-for="ChefName"></label>
    <input asp-for="ChefName">
    <label asp-for="Tastiness"></label>
    <input asp-for="Tastiness">
    <label asp-for="Calories"></label>
    <input asp-for="Calories">
    <label asp-for="Discription"></label>
    <input asp-for="Discription">
    <Button value="Add User" type="submit">Add Dish </Button>    
</form>